<!DOCTYPE html>
<html lang="es">
<head>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{titulo}}</title>
    
</head>
</head>
<body>
    <header>
        <h1>Mi Aplicación de E-commerce</h1>
        <nav class="contenedor">
            <ul>
                <li><a class="homebutton" href="/">Home</a></li>
                <li><a class="realtimebutton" href="/realtimeproducts">Productos en Tiempo Real</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {{{body}}} 
    </main>
    
    <footer class="footer">
        <p>© 2024 Mi E-commerce</p>
    </footer>
</body>
</html>