<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <h1>¡Hola!</h1>
    <p class="detalle">Bienvenido a nuestra aplicación de e-commerce.</p>
    <h1>Lista de Productos</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.title}} - {{this.precio}}</li>
        {{/each}}
    </ul>
</body>
</html>